<div class="user-posts-page-container">
 <%= render "shared/user_details", user: @user %>
  <div class="post-comment-container">
   <% @posts.each_with_index do |post| %>
     <%= link_to user_post_path(user_id:@user.id, id: post.id), class:'nav-link' do%>
       <%= render "shared/post_details", post: post %>
        <div class="comment-section-container">
        <% if post.most_recent_comments.empty? %>
          <p class="comment-text">No comments</p>
        <% else %>
            <% post.most_recent_comments.each do |comment| %>
             <p class="comment-text"><%= comment.author.name %>: <%= comment.text %></p>
            <%end%>
            <%end%>
        </div>
      <% end %>
   <%end%>
  </div>
   <button class="pagination-button">pagination</button>
</div>
